<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connectionstring" value="User Source=.;Password=123456;Initial Catalog=test;Provider=SQLOLEDB.1;" />
    <add key="API_MatchList" value="http://i.sporttery.cn/odds_calculator/get_odds?i_format=json&amp;poolcode[]=hhad" />
  </appSettings>
</configuration>